.game-container img
{
    width: 100%;
    height: 100px;
    border-radius: 10px;

    -webkit-width: 100%;
    -webkit-height: 100px;
    -webkit-border-radius: 10px;
}
.game-container
{
    width: 150px;
    min-height:200px;
    background: black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    opacity: 0;

    -webkit-width: 100px;
    -webkit-min-height:200px;
    -webkit-background: black;
    -webkit-padding: 5px;
    -webkit-margin: 10px;
    -webkit-border-radius: 10px;
    -webkit-opacity: 0;

}

@media only screen and (max-width: 600px){
    .game-container{
        width: 300px;

        -webkit-width: 300px;
    }
    .game-container img{
        width: 100%;
        height: 200px;

        -webkit-width: 100%;
        -webkit-height: 200px;
    }
}

.prototype-list-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-padding: 20px;
}

.prototype-list-container a
{
    text-decoration: none;
    -webkit-text-decoration: none;
}

.games-list-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-padding: 20px;
}

.games-list-container a
{
    text-decoration: none;
    -webkit-text-decoration: none;
}

.game-container-anim{
    animation: anim 0.5s ease-out forwards;
    -webkit-animation: anim 0.5s ease-out forwards;
}

@keyframes anim {
    0%{scale: 1.20; -webkit-scale: 1.20; opacity: 0; -webkit-opacity: 0;}
    100%{scale: 1; -webkit-scale: 1; opacity: 1; -webkit-opacity: 1;}

}