body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px; padding: 25px;}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {margin-left: 0; padding: 1px;}
    .my-header p{
        margin-top: 50px;
    }
    
}



.main-page
{
    padding:10px;
    color:whitesmoke;
    background-color:#222;
    margin: 10px;        
    border-radius: 10px;

    -webkit-padding:10px;
    -webkit-color:whitesmoke;
    -webkit-background-color:#222;
    -webkit-margin: 10px;	        
    -webkit-border-radius: 10px;
}

.flex-center
{
    display:flex;
    justify-content: center;

    -webkit-display:flex;
    -webkit-justify-content:center;
}

.hide-page{
    display: none;
    -webkit-display:none;
}


.header-img
{
    width: 992px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 3px rgb(75, 75, 75);

    -webkit-width: 992px;
    -webkit-border-radius: 20px;
    -webkit-overflow: hidden;
    -webkit-box-shadow: 0px 0px 3px 3px rgb(75, 75, 75);
}


.w3-hover-black{
    transition: background-color ease 1000ms;
    -webkit-transition: background-color ease 1000ms;
}

#contact-table th
{
    padding: 5px;
    text-align: left;
    font-style: bold;

    -webkit-padding: 5px;
    -webkit-text-align: left;
    -webkit-font-style: bold;
}
#contact-table
{
    width: 100%;
    border: 1px solid white;

    -webkit-width: 100%;
    -webkit-border: 1px solid white;
}

#contact-table td
{
    padding: 5px;
    text-align:left;

    -webkit-padding: 5px;
    -webkit-text-align:left;
}

.loading{
    padding: 5px;
    animation: loading-anim 1s ease-out 1;
    transform: scale(1);

    -webkit-padding: 5px;
    -webkit-animation: loading-anim 1s ease-out 1;
    -webkit-transform: scale(1);
}

@keyframes loading-anim{
    0%{transform: scale(1); -webkit-transform: scale(1);}
    50%{transform: scale(1.2); -webkit-transform: scale(1.2);}
    100%{transform: scale(1); -webkit-transform: scale(1);}
}